[Desktop Entry]
Type=Application
Name=Workflow GUI
Comment=启动Workflow GUI应用程序
Exec=/bin/bash __SCRIPT_PATH__/startup.sh
Icon=utilities-terminal
Terminal=false
Categories=Utility;Application;
StartupNotify=false
X-GNOME-Autostart-enabled=true
